h1{
    padding-left: 5rem;
}

h3{
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

h2{
    padding-left: 5rem;
    padding-top: 1rem;
}

ul{
    padding-left: 5rem;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-bottom: 2rem;;
}

.event-wrapper {
  width: 500px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.button-row button {
  background-color: rgb(45, 45, 45); 
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}
